body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #151717;
  color: whitesmoke;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1200px;
}

.blog-card {
  padding: 1em;
  border-bottom: 1px solid lightgray ;
}

.new-btn {
  padding: .5em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.new-btn:hover {
  background-color: rgba(241, 241, 241, 0.7);
}

.form-container {
  border: 1px solid whitesmoke;
  border-radius: 1em;
  max-width: 1200px;
}

.new-blog__form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    margin: 1em;
    padding: .5em;
    border: none;
    border-radius: .5em;
    outline: none;
  }
  textarea {
    width: 600px;
    height: 800px;
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 1em;
    resize: none;
    outline: none;
  }
  button {
    margin-top: 1em;
    padding: .5em;
    border: none;
    border-radius: .5em;
    cursor: pointer;
  }
  button:hover {
    transition: 150ms;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.edit-btn {
  font-size: 30px;
  cursor: pointer;
}
.edit-btn:hover {
  transition: 150ms;
  color: rgba(241, 241, 241, 0.7);
}

.delete-btn {
  margin-top: 1em;
  padding: .5em;
  background-color: #990000;
  color: white;
  border: none;
  border-radius: .5em;
  cursor: pointer;
}
.delete-btn:hover {
  transition: 150ms;
  background-color: rgba(0, 0, 0, 0.1);
}