.App {
  text-align: center;
}

body {
  background-color: #31a0a0;
}

.new-blog__form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    margin: 1em;
    padding: .5em;
    border: none;
  }
  textarea {
    width: 800px;
    height: 500px;
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 1em;
    resize: none;
    outline: none;
  }
}